:root{
    --primary-color: #ED4020;
    --secondary-color: #FFC620;
    --main-bg-color: #FFEEBC;
    --secondary-bg-color: #F27962;
    --neutral-bg-color: #FFFFFF;
    --primary-heading-color: #2E2E2E;
    --secondary-heading-color: #000000;
    --primary-text-color: #333333;
    --body-text-font: "", Arial, sans-serif;
    --body-text-line-height: 1.4;
}



